In [1]:
#pro-1 variable define and print value
name="Gujarat vithyapith";
print(name)

Gujarat vithyapith

In [1]:
#write a python program add 2 number with user input to + OPRETOR 
a=input("enter the no1:")
b=input("enter the no2:")
sum=float(a)+float(b)
print(sum)

enter the no1:20.30
enter the no2:30
50.3

In [3]:
#write a program to maximum number find to the if else statement 
a=input("enter the number1:")
b=input("enter the number2:")
if a>b:
    print("a large :")
else:
        print("b large:")

enter the number1:30
enter the number2:30.2
b large:

In [12]:
#write a program to sum natural numbar 
a=int(input("Enter the number1:-"))
sum=a*(a+1)/2
print(sum)

Enter the number1:-10
55.0

In [12]:
# enter the number prime or not
num1=input("enter the number")
num=int(num1)
if num > 1:
   for i in range(2,int(num/2)+1):
        if(num % i)==0:
            print(num,"is not prime number")
            break
        else:
            print(num,"the number is prime")
else:
        print(num,"the number is not prime")

enter the number22
22 is not prime number

In [ ]:
# write a program to find the length of a string using for loop 
a="deesa"
 for i in range

In [7]:
#slicing program
print('' or False)
print('A'or'B')
print('\n')
print('B'or'A')
print('K'or 1)
print(1 or'K')
print('GUJ'or True)
print(True or 'GUJ')

False
A


B
K
1
GUJ
True

In [23]:
#slicing program
n='GUJARAT VIDYAPITH'
print(n)
print(n[0])
print(n[0:3])
print(n[-1])
print(n[:-1])
print(n[-1::-5])

GUJARAT VIDYAPITH
G
GUJ
H
GUJARAT VIDYAPIT
HYTU

In [26]:
#string formatting in python 
a=10
b=50
print("{}and{}".format(a,b))

10and50

In [3]:
#count the string lenth
n=1*"mahesh "
print(len(n))

7

In [2]:
#tuple 
t=(20,'milan',10,25,35)
print(t)
print(type(t))

(20, 'milan', 10, 25, 35)
<class 'tuple'>

In [6]:
#sets
ss1={'cat','dog1','cow',"COW"}
ss2={0,2,4,6,8}
ss3={1,2,3,4,5}
ss4={'cat2','dog1',"DOG"}
print(ss3^ss2)
print(ss1|ss2)
print(ss2&ss3)
print(ss1-ss4)
print(ss4-ss1)
print(ss1^ss4)
print(ss4^ss1)

{0, 1, 3, 5, 6, 8}
{0, 2, 4, 6, 'cow', 8, 'cat', 'COW', 'dog1'}
{2, 4}
{'cow', 'cat', 'COW'}
{'DOG', 'cat2'}
{'DOG', 'cow', 'cat', 'COW', 'cat2'}
{'DOG', 'cow', 'cat', 'COW', 'cat2'}

In [11]:
#tuple 
x=['a',['bb',['ccc','ddd'],'ee','ff'],'g',['hh','ii'],'j']
len(x)

print(x[1][1:3][1])

ee

In [15]:
#for loop use 
name=['jigar','manish','sagar','jignesh','nitesh']
for i in name:
    print(i)

jigar
manish
sagar
jignesh
nitesh

In [18]:
#print the negitve numbars from a given sequence 
nu=[6,3,5,-54,-81,-90,-30,50,30]
for i in nu:
    if i<1:
    print(i)

-54
-81
-90
-30

In [71]:
n=[65,26,3,6,95,36,-22,-52]
for i in n:
    j=2
    while(j<=i):
        if(i % j)==0:
            break
        j=j+1
        if(j==i):
       
           print(i)

3

In [70]:
n=input("enter the number")
j=int(n)
if j > 1:
    for i in range(2,int(j/2)+1):
        if(j % i)==0:
            print("this is prime number")
         
        else:
            print("this is not prime")

enter the number3

In [17]:
#factorial number 
f=int(input("enter the number.."))
sum=1
l=1
while(l<=f):
    sum=sum*l
    l=l+1
print(sum)

enter the number..5
120

In [19]:
#list 
a=['milan','manish','jigar']
print(a[1])

manish

In [28]:
r=input("enter the num")
if(r>'cs'and'CS'):
    print('this student are cc dipartment ')
else: 
    print('this student are not cc dipartment')

enter the num26322cs
this student are not cc dipartment

In [4]:
#match blood groups 
b1=input("enter the blood group 1:-")
b2=input("enter the blood group 2:-")
if(b1==b2):
    print("blood group match")
else:
        print("blood group not match")

enter the blood group 1:-B+
enter the blood group 2:-AB-
blood group not match

In [ ]:
n="welcome to gujarat vidhyapith"
print(n[0:7])
print(n[0:19])
print(n[:-1])
print(n[1:6])
print(n[6:-5])
print(n[-3:-1])
print(n[0:30])